@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Macondo', sans-serif;
  overflow-x: hidden;
}

/*estilos pagina inicio */
.inicio {
  background-image: url("../img/GifDados.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.contenido {
  background: darkred;
  border-color: black;
  border-width: 10;
}

.nav-tabs button {
  border-color: black !important;
}

@media all and (max-width: 768px) {
  .referencias {
    flex-direction: column;
  }
}

@media all and (max-width: 768px) {
  .referencias iframe {
    height: 50%;
  }
}

.referencia__titulo {
  font-size: 1.5rem;
}

@media all and (max-width: 768px) {
  .referencia__titulo {
    text-align: center;
    margin-left: 5px;
    font-size: 2rem;
  }
}

.game__title {
  font-size: 1.5rem;
  text-decoration: underline;
  margin-left: 40px;
}

.hoja__de__pj {
  height: 70vw;
  position: relative;
}

.hoja__de__pj img {
  height: 100%;
}

.hoja__de__pj #NombreDePersonaje {
  position: absolute;
  top: 6.6%;
  bottom: auto;
  left: 7%;
  right: auto;
  width: 39%;
  height: auto;
  background: none;
  border: none;
}

.hoja__de__pj #Clase {
  position: absolute;
  top: 4.9%;
  bottom: auto;
  left: 47%;
  right: auto;
  width: 13%;
  height: 2.7%;
  background: none;
  border: none;
}

.send {
  width: 20%;
}
