$inputshpj: (
	NombreDePersonaje:(top:6.8%,bottom:auto,left:6%,right:auto,width:37%,height:3.5%,font-s:1.5rem),
	NombreDeJugador:(top:5.5%,bottom:auto,left:78%,right:auto,width:18%,height:2.7%,font-s:1rem),
	Experiencia:(top:8.8%,bottom:auto,left:78%,right:auto,width:18%,height:2.7%,font-s:1rem),
	FuerzaPuntaje:(top:22.7%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%,font-s:1rem),
	FuerzaModificador:(top:18.5%,bottom:auto,left:5%,right:auto,width:9%,height:5%,font-s:1.5rem),
	DestrezaPuntaje:(top:31.8%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%,font-s:1rem),
	DestrezaModificador:(top:27.5%,bottom:auto,left:5.8%,right:auto,width:9%,height:5%,font-s:1.5rem),
	ConstPuntaje:(top:40.9%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%,font-s:1rem),
	ConstModificador:(top:36.7%,bottom:auto,left:5.8%,right:auto,width:9%,height:5%,font-s:1.5rem),
	IntelPuntaje:(top:50.1%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%,font-s:1rem),
	IntelModificador:(top:45.8%,bottom:auto,left:5.8%,right:auto,width:9%,height:5%,font-s:1.5rem),
	SabiduriaPuntaje:(top:59.2%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%,font-s:1rem),
	SabiduriaModificador:(top:54.9%,bottom:auto,left:5.8%,right:auto,width:9%,height:5%,font-s:1.5rem),
	CarismaPuntaje:(top:68.3%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%,font-s:1rem),
	CarismaModificador:(top:64%,bottom:auto,left:5.8%,right:auto,width:9%,height:5%,font-s:1.5rem),
	SabiduriaPasiva:(top:74.4%,bottom:auto,left:3.9%,right:auto,width:6%,height:2.7%,font-s:0.8rem),
	BonifDeCompetencia:(top:20.2%,bottom:auto,left:14.7%,right:auto,width:7%,height:3.5%,font-s:1rem),
	FuerzaSalvacion:(top:24.7%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	DestrezaSalvacion:(top:26.4%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	ConstSalvacion:(top:28.1%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	IntelSalvacion:(top:29.8%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	SabiduriaSalvacion:(top:31.5%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	CarismaSalvacion:(top:33.2%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Acrobacias:(top:39.3%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Arcano:(top:41%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Atletismo:(top:42.8%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Engaño:(top:44.6%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Historia:(top:46.3%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Interpretacion:(top:48%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Intimidacion:(top:49.7%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Investigacion:(top:51.4%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	JuegoDeManos:(top:53.1%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Medicina:(top:54.9%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Naturaleza:(top:56.6%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Persepcion:(top:58.3%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Perspicacia:(top:60.1%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Persuacion:(top:61.8%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Religion:(top:63.5%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Sigilo:(top:65.3%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	Supervivencia:(top:66.9%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	TratoConAnimales:(top:68.6%,bottom:auto,left:16.8%,right:auto,width:5.9%,height:2.7%,font-s:1rem),
	ClaseDeArmadura:(top:17.2%,bottom:auto,left:37.8%,right:auto,width:7%,height:3.5%,font-s:1rem),
	Iniciativa:(top:17.2%,bottom:auto,left:47.1%,right:auto,width:7%,height:4.7%,font-s:1.5rem),
	Velocidad:(top:17.2%,bottom:auto,left:57%,right:auto,width:7%,height:4.7%,font-s:1rem),
	PuntGolpeMaximo:(top:23.8%,bottom:auto,left:53%,right:auto,width:9%,height:2.7%,font-s:1rem),
	PuntGolpeActual:(top:25.5%,bottom:auto,left:48%,right:auto,width:9%,height:5.7%,font-s:1rem),
	TotalDadoDeGolpe:(top:39.3%,bottom:auto,left:39.2%,right:auto,width:11%,height:2.6%,font-s:1rem),
	DadoDeGolpeActual:(top:40.9%,bottom:auto,left:39.5%,right:auto,width:9%,height:3.7%,font-s:1rem),
	NombreAtaque1:(top:49.2%,bottom:auto,left:35.2%,right:auto,width:13%,height:2.7%,font-s:0.8rem),
	NombreAtaque2:(top:51.9%,bottom:auto,left:35.2%,right:auto,width:13%,height:2.7%,font-s:0.8rem),
	NombreAtaque3:(top:54.5%,bottom:auto,left:35.2%,right:auto,width:13%,height:2.7%,font-s:0.8rem),
	BonifDeAtaque1:(top:49.3%,bottom:auto,left:46.7%,right:auto,width:8%,height:2.7%,font-s:0.8rem),
	BonifDeAtaque2:(top:51.9%,bottom:auto,left:46.7%,right:auto,width:8%,height:2.7%,font-s:0.8rem),
	BonifDeAtaque3:(top:54.5%,bottom:auto,left:46.7%,right:auto,width:8%,height:2.7%,font-s:0.8rem),
	TipoDaño1:(top:49.3%,bottom:auto,left:52.6%,right:auto,width:13%,height:2.7%,font-s:0.8rem),
	TipoDaño2:(top:51.9%,bottom:auto,left:52.6%,right:auto,width:13%,height:2.7%,font-s:0.8rem),
	TipoDaño3:(top:54.5%,bottom:auto,left:52.6%,right:auto,width:13%,height:2.7%,font-s:0.8rem),
	MonedaCobre:(top:75.4%,bottom:auto,left:36.5%,right:auto,width:7%,height:3%,font-s:0.7rem),
	MonedaPlata:(top:78.7%,bottom:auto,left:36.5%,right:auto,width:7%,height:3%,font-s:0.7rem),
	MonedaElectro:(top:82%,bottom:auto,left:36.5%,right:auto,width:7%,height:3%,font-s:0.7rem),
	MonedaOro:(top:85.3%,bottom:auto,left:36.5%,right:auto,width:7%,height:3%,font-s:0.7rem),
	MonedaPlatino:(top:88.6%,bottom:auto,left:36.5%,right:auto,width:7%,height:3%,font-s:0.7rem),
	
	CheckInspiracion:(top:15.7%,bottom:auto,left:15.2%,right:auto,width:4%,height:2%,hideBg:false),
	CheckFuerza:(top:24.9%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckDestreza:(top:26.6%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckConst:(top:28.3%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckIntel:(top:30%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckSabiduria:(top:31.7%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckCarisma:(top:33.4%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckAcrobacia:(top:39.5%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckArcano:(top:41.2%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckAtletismo:(top:43%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckEngaño:(top:44.7%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckHistoria:(top:46.4%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckInterpretacion:(top:48.1%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckIntimidacion:(top:49.9%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	Checkinvestigacion:(top:51.6%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckJuegoDeMano:(top:53.3%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckMedicina:(top:55%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckNaturaleza:(top:56.8%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckPercepcion:(top:58.5%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckPerspicacia:(top:60.2%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckPersuacion:(top:62%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckReligion:(top:63.7%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckSigilo:(top:65.4%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckSupervivencia:(top:67.1%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	CheckTratoConAnimales:(top:68.9%,bottom:auto,left:15.7%,right:auto,width:2%,height:1.5%,hideBg:false),
	Exitos1:(top:39.8%,bottom:auto,left:57%,right:auto,width:2%,height:1.5%,hideBg:false),
	Exitos2:(top:39.8%,bottom:auto,left:59.1%,right:auto,width:2%,height:1.5%,hideBg:false),
	Exitos3:(top:39.8%,bottom:auto,left:61.2%,right:auto,width:2%,height:1.5%,hideBg:false),
	Fallos1:(top:41.7%,bottom:auto,left:57%,right:auto,width:2%,height:1.5%,hideBg:false),
	Fallos2:(top:41.7%,bottom:auto,left:59.1%,right:auto,width:2%,height:1.5%,hideBg:false),
	Fallos3:(top:41.7%,bottom:auto,left:61.2%,right:auto,width:2%,height:1.5%,hideBg:false),
	
	Clase:(top:5.1%,bottom:auto,left:43%,right:auto,width:13%,height:auto),
	Trafondo:(top:5.1%,bottom:auto,left:62%,right:auto,width:22%,height:auto),
	Alineamientos:(top:8.3%,bottom:auto,left:62%,right:auto,width:22%,height:auto),
	Razas:(top:8.3%,bottom:auto,left:43%,right:auto,width:22%,height:auto),
	
	RasgosDePersonalidad:(top:16.6%,bottom:auto,left:67.8%,right:auto,width:30.2%,height:6.8%,font-s:0.7rem),
	Ideales:(top:25.4%,bottom:auto,left:67.8%,right:auto,width:30.2%,height:5.7%,font-s:0.7rem),
	Vinculos:(top:32.4%,bottom:auto,left:67.8%,right:auto,width:30.2%,height:5.7%,font-s:0.7rem),
	Defectos:(top:39.5%,bottom:auto,left:67.8%,right:auto,width:30.2%,height:5.7%,font-s:0.7rem),
	Equipo:(top:74.3%,bottom:auto,left:42.5%,right:auto,width:24%,height:21.7%,font-s:0.7rem),
	CompetenciasEIdiomas:(top:78.4%,bottom:auto,left:3.5%,right:auto,width:31.4%,height:17.7%,font-s:0.7rem),
	RasgosyAtributos:(top:47.5%,bottom:auto,left:66.8%,right:auto,width:31.5%,height:48.7%,font-s:0.7rem),
	AtaquesyConjuros:(top:56.1%,bottom:auto,left:34.5%,right:auto,width:33%,height:15.7%,font-s:0.7rem),
);