$inputshpj: (
	NombreDePersonaje:(top:6.6%,bottom:auto,left:7%,right:auto,width:39%,height:auto),
	NombreDeJugador:(top:4.9%,bottom:auto,left:84%,right:auto,width:18%,height:2.7%),
	Experiencia:(top:8.4%,bottom:auto,left:84%,right:auto,width:18%,height:2.7%),
	FuerzaPuntaje:(top:22.5%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%),
	FuerzaModificador:(top:18.2%,bottom:auto,left:5%,right:auto,width:9%,height:5%),
	DestrezaPuntaje:(top:31.7%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%),
	DestrezaModificador:(top:27.5%,bottom:auto,left:5%,right:auto,width:9%,height:5%),
	ConstPuntaje:(top:40.9%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%),
	ConstModificador:(top:36.8%,bottom:auto,left:5%,right:auto,width:9%,height:5%),
	IntelPuntaje:(top:50.1%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%),
	IntelModificador:(top:46.1%,bottom:auto,left:5%,right:auto,width:9%,height:5%),
	SabiduriaPuntaje:(top:59.3%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%),
	SabiduriaModificador:(top:55.4%,bottom:auto,left:5%,right:auto,width:9%,height:5%),
	CarismaPuntaje:(top:68.5%,bottom:auto,left:6%,right:auto,width:7%,height:2.7%),
	CarismaModificador:(top:64.7%,bottom:auto,left:5%,right:auto,width:9%,height:5%),
	SabiduriaPasiva:(top:74.3%,bottom:auto,left:4%,right:auto,width:6%,height:2.7%),
	BonifDeCompetencia:(top:20.1%,bottom:auto,left:15.3%,right:auto,width:7%,height:3.5%),
	FuerzaSalvacion:(top:24.5%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	DestrezaSalvacion:(top:26.3%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	ConstSalvacion:(top:28.1%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	IntelSalvacion:(top:29.9%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	SabiduriaSalvacion:(top:31.7%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	CarismaSalvacion:(top:33.5%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Acrobacias:(top:39.2%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Arcano:(top:40.9%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Atletismo:(top:42.6%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Engaño:(top:44.3%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Historia:(top:46%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Interpretacion:(top:47.7%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Intimidacion:(top:49.4%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Investigacion:(top:51.1%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	JuegoDeManos:(top:52.8%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Medicina:(top:54.5%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Naturaleza:(top:56.2%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Persepcion:(top:57.9%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Perspicacia:(top:59.6%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Persuacion:(top:61.3%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Religion:(top:63%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Sigilo:(top:64.7%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	Supervivencia:(top:66.4%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	TratoConAnimales:(top:68.1%,bottom:auto,left:18.6%,right:auto,width:5.9%,height:2.7%),
	ClaseDeArmadura:(top:17%,bottom:auto,left:39.4%,right:auto,width:9%,height:3.7%),
	Iniciativa:(top:16.9%,bottom:auto,left:48.9%,right:auto,width:10%,height:4.7%),
	Velocidad:(top:16.9%,bottom:auto,left:59.5%,right:auto,width:10%,height:4.7%),
	PuntGolpeMaximo:(top:23.6%,bottom:auto,left:54%,right:auto,width:13%,height:2.7%),
	PuntGolpeActual:(top:25.4%,bottom:auto,left:47%,right:auto,width:13%,height:5.7%),
	TotalDadoDeGolpe:(top:39.1%,bottom:auto,left:42.5%,right:auto,width:11%,height:2.6%),
	DadoDeGolpeActual:(top:40.9%,bottom:auto,left:42.5%,right:auto,width:9%,height:3.7%),
	NombreAtaque1:(top:48.9%,bottom:auto,left:39%,right:auto,width:13%,height:2.7%),
	NombreAtaque2:(top:51.6%,bottom:auto,left:39%,right:auto,width:13%,height:2.7%),
	NombreAtaque3:(top:54.3%,bottom:auto,left:39%,right:auto,width:13%,height:2.7%),
	BonifDeAtaque1:(top:48.9%,bottom:auto,left:50.7%,right:auto,width:8%,height:2.7%),
	BonifDeAtaque2:(top:51.6%,bottom:auto,left:50.7%,right:auto,width:8%,height:2.7%),
	BonifDeAtaque3:(top:54.3%,bottom:auto,left:50.7%,right:auto,width:8%,height:2.7%),
	TipoDaño1:(top:48.9%,bottom:auto,left:57.2%,right:auto,width:13%,height:2.7%),
	TipoDaño2:(top:51.6%,bottom:auto,left:57.2%,right:auto,width:13%,height:2.7%),
	TipoDaño3:(top:54.3%,bottom:auto,left:57.2%,right:auto,width:13%,height:2.7%),
	MonedaCobre:(top:75.3%,bottom:auto,left:40%,right:auto,width:7%,height:3%),
	MonedaPlata:(top:78.6%,bottom:auto,left:40%,right:auto,width:7%,height:3%),
	MonedaElectro:(top:81.9%,bottom:auto,left:40%,right:auto,width:7%,height:3%),
	MonedaOro:(top:85.2%,bottom:auto,left:40%,right:auto,width:7%,height:3%),
	MonedaPlatino:(top:88.5%,bottom:auto,left:40%,right:auto,width:7%,height:3%),
	
	CheckInspiracion:(top:15.8%,bottom:auto,left:16.5%,right:auto,width:4%,height:2%),
	CheckFuerza:(top:24.8%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckDestreza:(top:26.6%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckConst:(top:28.4%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckIntel:(top:30.2%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckSabiduria:(top:31.9%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckCarisma:(top:33.7%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckAcrobacia:(top:39.6%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckArcano:(top:41.4%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckAtletismo:(top:43.2%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckEngaño:(top:45%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckHistoria:(top:46.8%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckInterpretacion:(top:48.6%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckIntimidacion:(top:50.4%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	Checkinvestigacion:(top:52.2%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckJuegoDeMano:(top:54%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckMedicina:(top:55.8%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckNaturaleza:(top:57.6%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckPercepcion:(top:59.4%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckPerspicacia:(top:61.2%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckPersuacion:(top:63%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckReligion:(top:64.8%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckSigilo:(top:66.6%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckSupervivencia:(top:68.4%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	CheckTratoConAnimales:(top:70.2%,bottom:auto,left:16.6%,right:auto,width:3%,height:2%),
	Exitos1:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Exitos2:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Exitos3:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Fallos1:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Fallos2:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Fallos3:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	
	Clase:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Trafondo:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Alineamientos:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Razas:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	
	RasgosDePersonalidad:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Ideales:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Vinculos:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Defectos:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	AtaquesYConjuros:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	Equipo:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	CompetenciasEIdiomas:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
	RasgosyAtributos:(top:4.9%,bottom:auto,left:47%,right:auto,width:13%,height:2.7%),
);