@import "fuentes";
@import "variables";
@mixin positionimput ($top:auto,$bottom:auto,$left:auto,$right:auto,$width:auto,$height:auto) {
	position: absolute;
	top: $top;
	bottom:	$bottom;
    left: $left;
    right: $right;
   	width: $width;
   	height: $height;
   	background: none;
	border: none;
}


*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Macondo', sans-serif;
	overflow-x: hidden;
}
.nav-item {
	a{
		transition:transform 0.5s
	}
	&:hover{
		a{
			transform:scale(1.5);
		}
		
				
	}
}
/*estilos pagina inicio */

.inicio{
 
	height: 100vh;
	z-index: -5;
	.titulo__intro{
		z-index: 5;
		@media all and (max-width: 768px){
		font-size: 1rem;
		}	
	}
	.logo{
		z-index: 5;
		img{
			width: 60%;
			
		}
	}
}

.contenido{
	background: darkred;
	border-color: black ;
	border-width: 10;

}
.nav-tabs{
	button{
		border-color: black !important;
	}
}


.referencias{
	@media all and (max-width: 768px){
		flex-direction: column;
	}
	iframe{
		@media all and (max-width: 768px){
			height: 50%;
		}
	}
}
.referencia__titulo{
	font-size: 1.5rem;
	@media all and (max-width: 768px){
		text-align: center;
		margin-left: 5px;
		font-size: 2rem;
	}
}
	
.game__title{
	font-size: 1.5rem;
	text-decoration: underline;
	margin-left: 40px;
}

.hoja__de__pj {
	height: 70vw;
	position: relative;
	img{
		height: 100%;
	}
	@each $input,$param in $inputshpj{
		##{$input}{
			@include positionimput(map-get($param,top),map-get($param,bottom),map-get($param,left),map-get($param,right),map-get($param,width),map-get($param,height));
		}
		
	}
	
}

.send{
	width: 20%;
}
