@import "fuentes";
@import "variables";
@mixin positionimput ($top:auto,$bottom:auto,$left:auto,$right:auto,$width:auto,$height:auto,$hideBg:true) {
	position: absolute;
	top: $top;
	bottom:	$bottom;
    left: $left;
    right: $right;
   	width: $width;
   	height: $height;
   	@if $hideBg {
   		background: none;
   	}
	border: none;
}


*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Macondo', sans-serif;
	overflow-x: hidden;
}
.nav-item {
	a{
		transition:transform 0.5s
	}
	&:hover{
		a{
			transform:scale(1.3);
		}
		
				
	}
}
/*estilos pagina inicio */

.inicio{
 
	height: 100vh;
	z-index: -5;
	.titulo__intro{
		z-index: 5;
		@media all and (max-width: 768px){
		font-size: 1rem;
		}	
	}
	.logo{
		z-index: 5;
		img{
			width: 60%;
			
		}
	}
}

.footer{
	
	.Insta__Logo{
		width:60px;
		height: auto; 
	}
	.Face__Logo{
		width:60px;
		height: auto;
	}
	.Twitter__logo{
		width:60px;
		height: auto;
	
	}
	
	
}

.contenido{
	background: darkred;
	border-color: black ;
	border-width: 10;

}
.nav-tabs{
	button{
		border-color: black !important;
	}
}


.carousel-item{
	iframe{
		width: 70%;	
		@media all and (max-width: 768px){
			height: auto;
		}
	}
}
.referencia__titulo{
	font-size: 1.5rem;
	@media all and (max-width: 768px){
		text-align: center;
		margin-left: 5px;
		font-size: 2rem;
	}
}
	
.game__title{
	font-size: 1.5rem;
	text-decoration: underline;
	margin-left: 40px;
}

.hoja__de__pj {
	height: 70vw;
	position: relative;
	img{
		width: 100%;
		height: auto;
	}
	@each $input,$param in $inputshpj{
		##{$input}{
				$actHideBg: if(map-get($param,hideBg)!=false, true, false);
			@include positionimput(map-get($param,top),map-get($param,bottom),map-get($param,left),map-get($param,right),map-get($param,width),map-get($param,height),$actHideBg);
		}
		
	}
	
}
.herrero{
	width: 50%;
	height: auto;
}

.form{
	background-color:rgb(55, 54, 54);
	
	.gif__contacto{
		width:40%;
		height: auto;

	}
}


.send{
	width: 20%;
	input{
		transition:transform 0.5s;
	}
	&:hover{
		input{
			transform:scale(1.3);
		}		
	}
}

.border{
	border-color: black !important;
}
.Zeth__logo{
	width: 15%;
	height: auto;
	@media all and (max-width: 768px){
		width: 30%;
	}
	

}
